.aboutContainer {
    padding: 0px 15%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: clamp(30px, 3vh, 80px);
    margin-bottom: clamp(30px, 3vh, 80px);
}

.aboutHeading {
    font-family: 'Rilman';
    font-size: clamp(2.5rem, 6vw, 4rem);
    color: #08843B;
    margin-bottom: 25px;
}

.aboutParagraph {
    font-family: "Poppins", sans-serif;
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    color: #005C22;
    text-align: justify;

} 