.comp1 {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0 5%;
    padding-left: 10%;
}
.comp1Text {
    width: 430px;
    color: #08843B;
    font-size: 3rem;
    font-family: "Poppins";
    font-weight: 600;
}
.comp1ImgDiv {
    overflow: hidden;
    border-radius: 50px;
    height: 90%;
    width: 50%;
    background-image: url(../assets/comp1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
