.comp2Container {
    height: 60vh;
    display: flex;
    align-items: center;
    background-color: rgb(250, 250, 250);
}

.comp2Container > img {
    height: 100%;
}

.comp2Right {
    height: 60%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comp2Text {
    width: 50%;
    text-align: right;
    font-family: "Poppins";
    font-weight: 600;
    font-size: clamp(1.5rem, 3rem, 3.5rem);
    color: #08843B;
}

@media (max-width: 900px) {
    .comp2Container {
    height: 40vh;
}
.comp2Text { 
    font-size: 2rem;
}
}

@media (max-width: 480px) {
    .comp2Container {
    height: 30vh;
}
.comp2Text { 
    font-size: 1rem;
}
}

@media (max-width: 375px) {
    .comp2Container {
    height: 25vh;
}
.comp2Text { 
    font-size: 1rem;
}
}