.footerContainer {
    background-color: #16191C;
    color: #CBDADA;
    height: 30vh;
    padding: 10px 10%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footerLeft {
    flex: 1;
    justify-content: center;
    align-items: center;
}
.footerLeft > a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.footerLogoImg {
    height: 45px;
    width: 35px;
}
.footerLogoText {
    font-size: 2.5rem;
    font-family: "Rilman", 'Courier New', Courier, monospace;
    font-weight: 100;
    color: #9EFC60;
}
.footerRight {
    display: flex;
    gap: 5px;
    flex-direction: column;
    color: #CBDADA;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Poppins",'Courier New', Courier, monospace;
}
.footerLink {
    cursor: pointer;
}
