

.navContainer {
    padding: 10px 10%;
    background-color: #0F1F15;
    display: flex;
    gap: 10%;
}
.logo > a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.logoImg {
    height: 30px;
}
.logoText {
    font-family: 'Rilman',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: #9EFC60;
    font-weight: 550;
}
.links{
    flex: 1;
    display: flex;
    gap: 10%;
    align-items: center;
    cursor: pointer;
}
.link{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}