.wwwdContainer {
  height: 95vh;
  background-color: rgb(247, 247, 247);
  padding: 40px 8%;
}

.wwwdText {
  font-family: 'Rilman';
  font-size: 3.5rem;
  color: #1F1F1F;
  text-align: center;
  margin-bottom: 50px;
}

.wwwdBottom {
  height: 80%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 20px;
}

.card {
  width: 44%;
  height: 90%;
  border-radius: 30px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: white;
}

.cardImage {
  width: 100%;
  height: 45%;
  border-radius: 22px;
  object-fit: cover;
}
.card > div {
  padding-left: 20px;
}

.cardHeading {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.cardDescription {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #1F1F1F;
  text-align: justify;
}
