body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: auto;              
  scrollbar-width: none;        
  -ms-overflow-style: none;   
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;
}